.header h1 {
  max-width:1000px;
  width:100%;
  padding: 0 0 0 5px;
  font-size: 5rem;
  text-shadow: 1px 4px 1px var(--red);
}

.header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}