@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* VARIABLES */

:root {
    --white: rgba(250, 249, 246, 1);
    --black: rgba(0, 0, 0, 1);
    --blacktransparent: rgba(0, 0, 0, 0.4);
    --red: rgba(163, 10, 2, 1);
    --rust: rgba(130, 66, 60, 1);
    --redbrown: rgba(96, 32, 37, 1);
    --yellow: rgba(237, 222, 5, 1);
    --darkyellow: rgba(210, 198, 30, 1);
    --lightgrey: rgba(210, 209, 209, 1);
    --lgtransparent: rgba(210, 209, 209, 0.4);
    --grey: rgba(106, 106, 106, 1);
    --greytransparent: rgba(106, 106, 106, 0.4);
    --darkgrey: rgba(34, 34, 34, 1);
    --dgtransparent: rgba(34, 34, 34, 0.8);
    --blacktransgradient: radial-gradient(ellipse at 25% 0%,
                                        rgba(0, 0, 0, 1) 0%,
                                        rgba(0, 0, 0, 1) 25%,
                                        rgba(0, 0, 0, 0.5) 40%,
                                        rgba(0, 0, 0, 0) 70%);
}

/* FONTS */

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-VariableFont_wght.ttf') format('truetype'),
       url('../fonts/LibreFranklin-VariableFont_wght.woff2') format('woff2');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Italic-VariableFont_wght.ttf') format('truetype'),
       url('../fonts/LibreFranklin-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 300 800;
  font-style: italic;
}

@font-face {
  font-family: 'Courier Polski 1941';
  src: url('../fonts/zai_courierpolski1941.ttf') format('truetype'),
       url('../fonts/zai_courierpolski1941.woff2') format('woff2');
  font-style: normal;
}

  @font-face {
    font-family: 'Courier Polski 1941';
    src: url('../fonts/zai_CourierPolski1941_i.ttf') format('truetype'),
        url('../fonts/zai_CourierPolski1941_i.woff2') format('woff2');
    font-style: italic;
  }

    .courier-polski {
      font-family: 'Courier Polski 1941';
      font-style: normal;
    }

    .courier-polski-italic {
      font-family: 'Courier Polski 1941';
      font-style: italic;
      letter-spacing: 1px;
    }

@font-face {
  font-family: 'Tangerine';
  src: url(../fonts/Tangerine-Regular.ttf) format('truetype'),
       url(../fonts/Tangerine-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

  @font-face {
    font-family: 'Tangerine Bold';
    src: url(../fonts/Tangerine-Bold.ttf) format('truetype'),
        url(../fonts/Tangerine-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
  }

    .tangerine-regular {
      font-family: 'Tangerine', cursive;
      font-size: 2rem;
    }

    .tangerine-bold {
      font-family: 'Tangerine Bold', cursive;
      font-size: 2rem;
    }

/* PRIMARY STYLING */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--darkgrey);
  background-image: url("../images/dcb-cult-logo.webp");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Libre Franklin';
  color: var(--white);
}

main {
  min-height: 100%;
  padding-top: .5em;
  padding-bottom: 1em;

}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
}

  h1, h2, h3, h4 {
    color: var(--white);
  }

    h1, h2 {
      font-family: 'Courier Polski 1941';
      font-size: 64px;
      letter-spacing: 4px;
      color: var(--white);
      text-shadow: 1px 4px 1px var(--red);
      margin-bottom: 0;
    }

      h1 {
        font-size: 64px;
        font-style: normal;
      }

      h2 {
          font-size: 36px;
          font-style: italic;
      }

    h3 {
      font-size: 28px;
    }

    h4 {
      font-size: 24px;
    }

    h5 {
      font-size: 18px;
    }

    h6 {
      font-size: 16px;
    }

p {
  font-size: 16px;
  font-weight: 500;
}

ul, ol {
  padding-left: 1em;
}

a,
a:visited {
    color: var(--yellow);
    text-decoration: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

    a:hover,
    a:active,
    a:visited:hover {
      color: var(--darkyellow);
    }

/* HTML MEDIA QUERIES */

@media screen and (max-width: 991px) {
  main {
    padding: 0 0 4em 0;
  }

  h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-size: 125%;
  }
}

/*====================================================\
|                       NAVBAR                        |
\*===================================================*/

.navigator {
  background: var(--blacktransgradient);
  padding: 1.5rem 1rem;
  overflow: hidden;
}

#tagline {
  font-size: 0.7em;
  font-weight: 700;
  margin: 0 0 5px 5px;
}

.nav-title {
  display: flex;
  align-items: flex-end;
}

  .nav-title h1 {
    font-size: 48px;
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .nav-title a,
  .nav-title a:visited,
  .nav-title a:hover,
  .nav-title a:active,
  .nav-title a:visited:hover {
    color: var(--white);
  }

.toggle-icon {
  font-size: 1.8em;
  display: none;
  position: absolute;
}

.nav-link {
  display: flex;
  align-self: flex-end;
  justify-content: end;
  padding: 0 10px 0 0;
}

  .nav-link ul {
  font-family: 'Courier Polski 1941';
  font-size: 22px;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  letter-spacing: 3px;
  }

  .nav-link li {
    padding: 5px 5px 0 5px;
    display: inline-block;
  }

/* NAVBAR MEDIA QUERIES */

@media screen and (min-width: 992px) {
  .nav-title h1 {
    font-size: clamp(2.0625rem, -0.2169rem + 3.6765vw, 3rem);
  }

  #tagline {
    font-size: clamp(0.5rem, 0.0441rem + 0.7353vw, 0.6875rem);
  }

  .nav-link ul {
    font-size: clamp(1.125rem, 0.5172rem + 0.9804vw, 1.375rem);
  }
}

@media screen and (max-width: 991px) {
  #tagline {
    display: none;
  }

  .toggle-icon a,
  .toggle-icon a:visited,
  .toggle-icon a:hover,
  .toggle-icon a:active,
  .toggle-icon a:visited:hover {
    color: var(--white)
  }

  .nav-link {
    padding: 0;
    justify-content: center;
  }

    .nav-link ul {
      display: inline;
      max-height: 0;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;
      color: var(--red);
      text-align: center;
      transition: max-height 500ms, padding 800ms;
    }

      .nav-link.responsive ul {
        max-height: 150px;
        padding: 1.5rem 0 0 0;
      }

      .nav-link li {
        text-align: center;
      }

    .nav-link a,
    .nav-link a:visited {
      color: var(--white);
    }

      .nav-link a:hover,
      .nav-link a:active,
      .nav-link a:visited:hover {
        color: var(--red);
      }

    .nav-link.responsive {
      position: relative;
    }

      .nav-title a.toggle-icon {
        display: block;
        top: 25px;
        right: 25px;
      }
}

@media screen and (max-width: 767px) {
  .nav-link ul {
    font-size: clamp(16px, 20px + 0.7823vw, 22px);
  }
}

@media screen and (max-width: 400px) {
  .navigator h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 358px) {
  .navigator h1 {
    font-size: 2em;
  }

  .toggle-icon {
    font-size: 1.5em;
    right: 1px;
    top: 1px;
  }
}

/*====================================================\
|                        MAIN                         |
\*===================================================*/

.header {
  margin: .5em auto;
}

  .header h1 {
    margin: 30px auto;
    text-align: center;
  }

.post-title {
  max-width: 95%;
  margin: .5em auto;
  padding: 1em;
}

  .post-title h1,
  .post-title h2,
  .post-title h3 {
    color: var(--white);
    margin-bottom: 0;
    text-align: center;
    text-shadow: 1px 3px 1px var(--red);
  }

    .post-title h2,
    .post-title h3 {
      font-size: 3rem;
    }

.post {
  background: var(--rust);
  margin-bottom: .5em;
  padding: 15px 20px;
  border: 2px solid var(--black);
}

  .post h2,
  .post h3 {
    padding-bottom: 10px;
  }

  .post img {
    width: 100%;
  }

  .post-subsection {
    color: var(--lightgrey);
    text-decoration: underline;
    margin-bottom: 0.25rem;
  }

    .left,
    .right {
      max-width: 98%;
    }

      .left {
        margin-left: 1.5em;
        margin-right: auto;
      }

      .right {
        margin-left: auto;
        margin-right: 1.5em;
      }

.post-name {
  font-size: 2rem;
}

.font-small {
  font-size: 0.7em !important;
}

.return {
  font-size: 0.7em;
  font-style: italic;
  margin-top: 40px;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

/* LINK ANIMATION */

.link-animation {
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media screen and (min-width: 992px) {
  .link-animation a {
    background-image: linear-gradient(
      to right,
      var(--red),
      var(--red) 50%,
      var(--white) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

    .return.link-animation a {
      background-image: linear-gradient(
        to right,
        var(--yellow),
        var(--yellow) 50%,
        var(--white) 50%
      );
    }

  .link-animation a:before {
    content: '';
    background: var(--red);
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }

    .return.link-animation a:before {
      background: var(--yellow);
    }

  .link-animation a:hover {
    background-position: 0;
  }

  .link-animation a:hover::before {
    width: 100%;
  }
}

/* MAIN MEDIA QUERIES */

@media screen and (max-width: 991px) {
  #Top {
    flex-direction: column;
  }

  .header {
    margin: 0;
    padding: .01em;
    border: none;
  }

    .header h1 {
      margin: 15px auto;
    }

  .post-title {
    max-width: 100%;
    margin: 0;
    border: none;
    text-align: center;
  }

  .post-name {
      text-align: center;
  }

  .post {
    padding-left: .2em;
    padding-right: .2em;
    margin-bottom: 1em;
    border: none;
  }

  .left,
  .right {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .bottom {
    border-bottom: none;
    margin-bottom: 0;
  }

  .return.link-animation a,
  .return.link-animation a:visited {
    color: var(--white);
  }

    .return.link-animation a:hover,
    .return.link-animation a:active,
    .return.link-animation a:visited:hover {
    color: var(--yellow)
    }
}

/*====================================================\
|                       INDEX                         |
\*===================================================*/

main#index {
  background-image: none;
}

.index-static {
  position: absolute;
 }

 .index-active {
  opacity: 0;
 }

.video-banner {
  width: 100%;
  height: 100%;
  position: absolute;
}

  #IndexVideo {
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

.index {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  margin: .5em 2em;
  width: 100%;
  height: 100%;
}

.index-link {
  display: flex;
  margin: 1em 0;
  padding: 1em;
}

  .index-link img {
    display: inline-block;
    max-width: 100px;
    width: 100%;
  }

    .index-link a:hover img.index-static {
      opacity: 0;
    }

    .index-link a:hover img.index-active {
      opacity: 1;
    }

  .index-link h2,
  .index-link h3 {
    display: inline-block;
    text-shadow: 1px 3px 1px var(--red);
  }

  .index-link a,
  .index-link a:visited {
    color: var(--white);
  }

    .index-link a:hover,
    .index-link a:active,
    .index-link a:visited:hover {
      color: var(--yellow);
    }

/* INDEX MEDIA QUERIES */

@media screen and (max-width: 991px) {
  main#index {
    padding-bottom: 0 !important;
    max-width: 100%;
    max-height: 100%;
  }

  .index {
    align-items: center;
    margin: 0;
  }

  .index-link {
    justify-content: center;
  }

    .index-link h2,
    .index-link h3 {
      text-shadow: 1px 3px 1px var(--red);
    }

    .index-link img.index-static {
      position: relative;
    }

      .index-link a:hover img.index-static {
        opacity: 1;
      }

    .index-link img.index-active {
      display: none;
    }
}

/*====================================================\
|                         HOME                        |
\*===================================================*/

.home-bio {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

  .home-bio p {
    font-size: 1em;
    font-weight: 600;
  }

  .home-bio > div {
    align-items: center;
  }

.news {
  margin-bottom: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

  .news h3,
  .news h4,
  .news h5 {
    text-shadow: none;
  }

    .news h3 {
      text-decoration: underline;
    }

  .news img {
    border: 1px solid var(--black);
    max-width: 400px;
    width: 100%;
    float: right;
  }

/* NEWS MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .news {
    max-width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

    .news>.post-title,
    .news>.post {
      margin-left: 0;
      margin-right: 0;
    }

  .home-bio {
    width: 100%;
  }
}

/*====================================================\
|                       MUSIC                         |
\*===================================================*/

.music {
  margin-top: 1em;
  margin-bottom: 1em;
}

  .music>.post h6 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .music>.post img {
    max-width: 450px;
    margin-bottom: 10px;
  }

  .music .post-split-right {
    text-align: center;
  }

.tracklist>p {
 margin-bottom: 0;
}

.tracklist a,
.tracklist a:visited {
  font-size: .75em;
  color: var(--white);
}

  .tracklist a:hover,
  .tracklist a:visited:hover {
    color: var(--yellow);
  }

.writing-credits {
  padding-top: 10px;
}

.personnel {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.album-art {
  border: 1px solid var(--black);
}

.art-link-x,
.art-link-y {
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

  .art-link-x li {
    padding: 5px 0px;
    display: inline-block;
  }

  .art-link-y li {
    padding: 3px;
  }

  .art-link-x a,
  .art-link-x a:visited,
  .art-link-y a,
  .art-link-y a:visited {
    color: var(--white);
  }

    .art-link-x a:hover,
    .art-link-y a:hover {
      color: var(--yellow);
    }

.buy-button {
  color: var(--white) !important;
  font-size: 1.1em;
  text-transform: uppercase;
  text-wrap: nowrap;
  background-color: var(--redbrown);
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  transition: 300ms ease-in-out;
}

  .buy-button:hover {
    color: var(--yellow) !important;
    background-color: var(--rust);
  }

/* MUSIC NAV */

.music-nav {
  margin: 0 auto 1em auto;
  padding: 10px .5em;
  background-color: var(--dgtransparent);
  border: 2px solid var(--black);
}

  .music-nav h3,
  .music-nav h4 {
    text-shadow: 1px 3px 1px var(--red);
    margin-bottom: 1rem;
  }

  .music-nav.albums {
    max-width: 42%;
  }

    .music-nav.albums img {
      max-width: 225px;
    }

  .music-nav.eps {
    max-width: 70%;
  }

    .music-nav.eps img {
      max-width: 175px;
    }

.music-navHead {
  display: flex;
}

.music-navItem {
  display: flex;
  width: 100%;
  justify-content: center;
}

  .music-navCont {
    position: relative;
    display: inline-block;
    margin: auto;
    border: 1px solid var(--black);
  }

    .albums .music-navCont {
      margin-left: 2.5em;
      margin-right: 2.5em;
    }

  .music-navOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #323232;
  }

  .music-navCont:hover .music-navOverlay {
    opacity: .9;
  }

  .music-navText {
    font-family: 'Courier Polski 1941';
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 1px;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #MusicNavArrows {
    justify-content: center;
  }

    #MusicNavArrows h3 {
      color: var(--lightgrey);
      font-size: 1.5em;
      text-shadow: none;
      word-spacing: 1em;
      margin-bottom: 0;
    }

/* LYRICS BOX */

.lyrics-overlay {
  background-color: var(--lightgrey);
  max-height: 0;
  width: 30rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  transition: max-height ease-in-out 1000ms, width ease-in-out 1000ms, padding ease-in-out 900ms, margin ease-in-out 900ms;
}

  .lyrics-overlay p {
    color: var(--black);
  }

  .lyrics-overlay a,
  .lyrics-overlay a:visited {
    color: var(--red);
    font-size: 16px;
  }

    .lyrics-overlay a:hover,
    .lyrics-overlay a:visited:hover {
      color: var(--redbrown) !important;
    }

  .lyrics-overlay.active {
    max-height: 1500px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #lyricsUpsideDown {
    background-color: var(--lightgrey);
    height: 100%;
  }

    #lyricsUpsideDown .active {
      max-height: 500px;
    }

    #lyricsUpsideDown p {
      font-size: .6em;
      text-align: center;
    }

  #lyricsFriction.lyrics-overlay.active {
    max-height: 1530px;
  }

.lyrics-right {
  text-align: right;
}

.lyrics-center {
  text-align: center;
}

/* MUSIC MEDIA QUERIES */

@media screen and (min-width: 800px) {
  #MusicNavArrows {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

@media screen and (max-width: 1325px) {
        .music-nav.albums img {
          max-width: 150px;
        }

        .music-nav.eps img {
          max-width: 130px;
        }
}

@media screen and (max-width: 991px) {
  .music {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-left: none !important;
    border-right: none !important;
  }

  .lyrics-overlay {
    width: 100%;
    transition: max-height ease-in-out 1000ms, width ease-in-out 0ms, padding ease-in-out 900ms, margin ease-in-out 900ms;
  }

  .music-nav {
    max-width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
  }

    .music-nav.albums,
    .music-nav.eps {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      }

      .music-nav.albums {
        padding-right: 0%;
      }

    .music-navCont {
      margin: 1em;
    }

      .albums .music-navItem,
      .eps .music-navItem {
        justify-content: center;
      }

  .music-navOverlay {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .albums .music-navItem,
  .eps .music-navItem {
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-scrollbar: none;
  }

    #ep-list {
      justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
  .music .post-split-left {
    order: 2;
  }

  .music .post-split-right {
    order: 1;
  }

  .bc-wrap {
    text-align: center;
  }
}

/*====================================================\
|                       VIDEOS                        |
\*===================================================*/

.videos {
  max-width: 90%;
}

  .videos .post-split-right {
    text-align: left;
  }

    .videos .post-split-right h5 {
      text-decoration: underline;
    }

.youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
}

  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

@media screen and (max-width: 991px) {
  .youtube {
    margin-bottom: 10px;
  }

  .videos {
    max-width: 100%;
  }
}

/*====================================================\
|                        SHOWS                        |
\*===================================================*/

 .shows {
  max-width: 90%;
 }

 .show>.post a,
 .show>.post a:visited {
  color: var(--white) !important;
 }

  .shows>.post a:hover,
  .shows>.post a:active,
  .shows>.post a:visited:hover {
    color: var(--yellow) !important;
  }

.bit-button {
  background-color: var(--redbrown) !important;
}

.tour-poster {
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--black);
}

.tour-dates {
  font-family: 'Courier Polski 1941';
  font-style: normal;
}

  .tour-dates i {
    font-size: 0.75rem;
    margin-left: 5px;
  }

/* SHOWS MEDIA QUERIES */

@media screen and (min-width: 992px) {
  .tour-dates {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 991px) {
  .shows {
    max-width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .tour-dates {
    font-size: clamp(0.75rem, 0.75rem + 0.417vw, 0.9rem);
  }
}

/*====================================================\
|                        EPK                          |
\*===================================================*/

.epk {
  width: 100%;
}

  .epk img {
    width: 100%;
  }

  .epk .post {
    margin-bottom: 1.5em;
  }

  /* EPK MEDIA QUERIES */

  @media screen and (max-width: 991px) {
    .epk-top,
    .epk-bottom {
      width: 100%;
      margin-top: 1em;
    }

    .epk .post {
      margin-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

/*====================================================\
|                       FOOTER                        |
\*===================================================*/

footer {
  background-color: var(--rust);
  color: var(--white);
  padding: 5px;
  text-align: center;
  border-top: 2px solid var(--black);
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-nav {
  margin: 0;
}

  .footer-nav ul {
    list-style-type: none;
  }

  .footer-nav li {
    display: inline-block;
    padding: 10px 10px 0 10px;
  }

  .footer-nav i {
    font-size: 1.3rem;
  }

  .footer-nav img {
    color: var(--red);
    max-width: 16px;
    width: 100%;
    padding-top: 0;
    justify-content: center;
  }

  .footer-nav a,
  .footer-nav a:visited {
    color: var(--white);
  }

    .footer-nav a:hover,
    .footer-nav a:active,
    .footer-nav a:visited:hover {
      color: var(--yellow);
    }

/* FOOTER MEDIA QUERIES */

@media screen and (max-width: 991px) {
  footer {
    border: none;
  }
}

@media screen and (max-width: 575px) {
  .site-links {
    font-size: 0.9rem;
  }
}