@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --offwhite: rgba(232, 231, 227, 1);
    --red: rgba(163, 10, 2, 1);
    --salmon: rgba(251, 99, 88, 1);
    --yellow: rgba(237, 222, 5, 1);
    --pink: rgba(199, 174, 173, 1);
    --redbrown: rgba(80, 54, 53, 1);
}

html {
  height: 100%;
}

body {
    background-color: var(--pink);
    background-image: url("../images/big-pink.png");
    background-size: auto;
    background-position: fixed;
    color: black;
    font-family: "Libre Franklin";
    font-weight: 600;
    height: 100%;
}

main {
  min-height: 100%;
  position: relative;
  border-left: 6px solid black;
  border-right: 6px solid black;
}

h1, h2, h3, h4, h5 {
  font-style: italic;
  text-transform: uppercase;
}

  h1, h2, h3, h4 {
    color: var(--offwhite);
  }

  h2, h3, h4 {
    text-shadow: 1px 3px 1px var(--red);
  }

h1 {
  font-size: 50px;
  text-shadow: 1px 4px 1px var(--red);
}

h2 {
    font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 13px;
}

a {
    color: var(--red);
    text-decoration: none;
}

  a:hover {
      color: var(--yellow);
      text-decoration: none;
  }

  a:active {
    color: var(--yellow);
    text-decoration: none;
  }

  a:visited {
    color: var(--red);
    text-decoration: none;
  }

/*====================================================\
|                  HEADER / NAVBAR                    |
\*===================================================*/ 

.header {
  background-color: black;
  overflow: hidden;
}

  .header h1 {
    margin-bottom: 0;
  }

#subhead {
  font-size: 0.7em;
  margin-left: 1px;
}

.htItem {
  display: flex;
  align-items: flex-end;
}

  .htItem a {
    color: var(--offwhite);
    text-decoration: none;
  }

.icon {
  font-size: 1.8em;
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.headNav {
  display: flex;
  align-self: flex-end;
  justify-content: end;
}

  .headNav ul {
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  .headNav li {
    padding: 5px 20px 0 20px;
    display: inline-block;
  }

  /* link animation */
    .animLink {
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    @media screen and (min-width: 992px) {
      .animLink a {
        background-image: linear-gradient(
          to right,
          var(--yellow),
          var(--yellow) 50%,
          var(--red) 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }

      .animLink a:before {
        content: '';
        background: var(--yellow);
        display: block;
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 0;
        height: 2px;
        transition: all 0.3s ease-in-out;
      }

      .animLink a:hover {
        background-position: 0;
      }

      .animLink a:hover::before {
        width: 100%;
      }
    }

/*====================================================\
|                        MAIN                         |
\*===================================================*/ 

.topTitle {
  padding: 5px;
}

.title {
  font-size: 2.5em;
  margin: 30px auto;
  text-align: center;
}

.post {
  padding: 15px 20px;
  border-bottom: 4px solid black;
  background: var(--pink);
}

  .post h2,
  .post h3 {
    padding-bottom: 10px;
  }

  .post img {
    max-width: 450px;
    width: 100%;
    margin-bottom: 10px;
  }

  .post.bottom {
    border-bottom: none;
  }

    .post.music h5,
    .post.videos h5 {
      text-decoration: underline;
      margin-bottom: 0;
    }

.postHead {
  padding: 10px 20px;
  background-color: black;
}

  .postHead h1,
  .postHead h2,
  .postHead h3 {
    color: var(--red);
    text-shadow: none;
    margin-top: 8x;
    margin-bottom: 0;
  }

.postItemOne a {
  color: black;
}

  .postItemOne a:hover {
    color: var(--offwhite);
    text-decoration: none;
  }

.postItemTwo {
  text-align: center;
}

  .postItemTwo ul {
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    padding-left: 0;
  }

  .postItemTwo li {
    padding: 5px 10px;
    display: inline-block;
  }

.small {
  font-size: .7em;
}

.return {
  font-size:0.7em;
  margin-top: 40px;
}

/*====================================================\
|                       INDEX                         |
\*===================================================*/ 

.index {
    display: flex;
    top: 5px;
    justify-content: center;
    margin: auto;
}

.indexImg {
  padding: 0;
}

  .indexImg img {
      width: 100%;
      border: 2px solid black;
  }

/*====================================================\
|                       MUSIC                         |
\*===================================================*/ 

.musicNav {
  padding: 10px 30px;
  background-color: var(--redbrown);
}

  .musicNav img {
    max-width: 150px;
    width: 100%;
  }

.musicNavHead {
  display: flex;
  width: 100%;
}

.musicNavItem {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

  .musicNavCont {
    position: relative;
    display: inline-block;
    margin-right: 8%;
  }

  .musicNavOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #323232;
  }

  .musicNavCont:hover .musicNavOverlay {
    opacity: .9;
  }

  .musicNavText {
    color: var(--offwhite);
    text-shadow: 1px 3px 1px var(--red);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.tracklist>p {
 margin-bottom: 0;
}

.tracklist a {
  font-size: .75em;
  color: var(--red) !important;
}

  .tracklist a:hover {
    color: var(--yellow) !important;
  }

  .lyrics-overlay {
      background-color: var(--offwhite);
      colors: #000 !important;
      max-height: 0;
      width: 30rem;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
      margin-right: 5px;
      overflow: hidden;
      transition: max-height ease-in-out 1000ms, width ease-in-out 1000ms, padding ease-in-out 900ms, margin ease-in-out 900ms;
  }

   .lyrics-overlay.active {
    max-height: 1500px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
   }

.lyrics-chorus {
  text-align: right;
}

.lyrics-center {
  text-align: center;
}

.writing-credits {
  padding-top: 10px;
}

.personnel {
  font-size:1.1em; font-weight:bold;
}

/*====================================================\
|                       VIDEOS                        |
\*===================================================*/ 

.postItemTwo.MV {
  text-align: left;
}

.MV video {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*====================================================\
|                        SHOWS                        |
\*===================================================*/ 

.bit {
  margin-top: 30px;
  max-width: 800px;
  width: 100%;
  justify-content: center;
}

/*====================================================\
|                       FOOTER                        |
\*===================================================*/ 

footer {
  background-color: black;
  color: var(--offwhite);
  padding: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footNav {
  margin: 10px;
}

  .footNav ul {
    list-style-type: none;
  }

  .footNav li {
    display: inline-block;
    padding: 10px;
  }

/*====================================================\
|                   MEDIA QUERIES                     |
\*===================================================*/ 

@media screen and (max-width: 992px) {
  main {
    border: none;
  }

  a {
    color: var(--red);
  }

  #subhead {
    display: none;
  }

  .icon a {
    color: var(--offwhite)
  }

    .icon a:hover {
      color: var(--offwhite)
    }

    .icon a:active {
      color: var(--offwhite)
    }

    .headNav ul {
      display: inline;
      max-height: 0;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;
      color: var(--red);
      text-align: center;
      transition: max-height 500ms, padding 800ms;
    }

      .headNav.responsive ul {
        max-height: 100px;
        padding: 7px 5px;
      }

      .headnav li {
        text-align: center;
      }

    .headNav a:hover {
      color: var(--yellow);
    }

    .headNav.responsive {
      position: relative;
    }
    
      .headNav.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .htItem a.icon {
        display: block;
        right: 15px;
    }

  #Top {
    flex-direction: column;
  }
  
  .musicNav {
    visibility: hidden;
    clear: both;
    display: none;
  }

    .lyrics-overlay {
      width: 100%;
      transition: max-height ease-in-out 1000ms, width ease-in-out 0ms, padding ease-in-out 900ms, margin ease-in-out 900ms;
  }

  .return a {
    color: var(--red);
  }

   .return a:hover {
    color: var(--yellow)
   }

  .postHead {
    text-align: center;
  }

  .postItemOne {
    order: 2;
  }

  .postItemTwo {
    order: 1;
  }
}