@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --red: rgba(163, 10, 2, 1);
    --yellow: rgba(237, 222, 5, 1);
    --pink: rgba(199, 174, 173, 1);
}

html {
  height: 100%;
}

body {
    background-image: url("../images/big-pink.png");
    background-repeat: repeat;
    background-color: var(--pink);
    color: black;
    font-family: "Libre Franklin";
    font-weight: 600;
    height: 100%;
}

main {
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-style: italic;
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    color: var(--yellow);
    text-decoration: underline;
}

/* header */
.header {
  padding: 0 10px;
  background-color: black;
  overflow: hidden;
}

.header h1 {
  text-shadow: 1px 4px 1px var(--red);
  margin-bottom: 0;
}

.header h4 {
  font-size: 0.7em;
  text-shadow: 1px 3px 1px var(--red);
  margin-left: 1px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header p {
  font-size: 16px;
}

.htItem {
  display: flex;
  align-items: flex-end;
}

.htItem .icon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.headNav {
  display: flex;
  align-items: flex-end;
}

.headNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.headNav li {
  padding: 0 20px;
}

/* navbar */

.nav-item {
  display: inline-block;
  margin: 30px 2px 0 2px;
  font-style: italic;
  text-transform: uppercase;
}  

.nav-item a {
background-image: linear-gradient(
  to right,
  var(--yellow),
  var(--yellow) 50%,
  var(--red) 50%
);
background-size: 200% 100%;
background-position: -100%;
display: inline-block;
padding: 0;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 0.3s ease-in-out;
}

.nav-item a:before {
content: '';
background: var(--yellow);
display: block;
position: absolute;
bottom: 1px;
left: 0;
width: 0;
height: 2px;
transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
background-position: 0;
}

.nav-item a:hover::before {
width: 100%;
}

/* index */
.index {
    justify-content: center;
    margin: auto;
}

.indexlink {
  padding: 0;
}

.indexlink img {
    max-width: 1000px;
    width: 100%;
    border: 5px solid black;
}

/* main */
.main {
  padding-bottom: 20px;
}

/* posts */
.post {
  margin: 0;
  padding: 15px 15px 0px 15px;
  border: 4px solid black;
  background: var(--pink);
}

.post h1,
.post h2,
.post h3 {
  padding-bottom: 10px;
  color: white;
  text-shadow: 1px 3px 1px var(--red);
}

.post h5 {
  text-decoration: underline;
  margin-bottom: 0;
}

.post img {
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;
}

.postItemOne a {
  color: black;
}

.postItemOne a:hover {
  color: white;
  text-decoration: none;
}

.postItemTwo {
  text-align: center;
}

/* music */
.musicNav {
  margin: 30px auto;
}

.musicNav h2,
.musicNav h3,
.musicNav h4,
.musicNav h5 {
  text-shadow: 1px 3px 1px var(--red);
}

.musicNav img {
 max-width: 150px;
 width: 100%;
 margin: auto;
}

.musicNavCont {
  position: relative;
  display:inline-block;
}

.musicNavImage {
  display: block;
  width: 100%;
  height: auto;
}

.musicNavOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #323232;
}

.musicNavCont:hover .musicNavOverlay {
  opacity: .9;
}

.musicNavText {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.musicHead {
  margin: 30px 0 0 0;
  text-align: center;
  justify-content: center;
  padding: 5px;
  background-color: black;
}

.musicHead h1,
.musicHead h2,
.musicHead h3 {
  padding: auto;
  color: var(--red);
  text-shadow: 0px 2px 20px black;
}

/* shows */
.shows {
  background-color: #1f1e1e;
}

:where(main.showdate) li {
  font-size: 1.2rem;
}

/* footer */
footer {
  background-color: black;
  color: white;
  margin: 10px auto 0 auto;
  padding: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footNav {
  justify-content: center;
  margin: 10px;
}

/* mobile */
@media screen and (max-width: 992px) {
  .header h1,
  .header h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header h2 {
    font-size: 0rem;
  }

  .header a {
    color: white;
  }

  .header a:hover {
    text-decoration: none;
  }

  #Top {
    flex-direction: column;
  }
  
  .htItem a.icon {
    text-align: right;
    float: right;
    display: block;
    right: 5px;
  }

  #subhead {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .headNav {
    justify-content: center;
  }

  .headNav ul {
    display: none;
  }

  .headNav a:active {
    color: var(--yellow);
  }

  .headNav.responsive {
    position: relative;
  }
  
  .headNav.responsive .icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .headNav.responsive ul,
  .headNav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .musicNav {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .postItemOne {
    order: 2;
  }

  .postItemTwo {
    order: 1;
  }
}